//Colors
$yellow: #facc1f;
$blue: #074a75;

//Fonts
$font-condensed: "Dollop Serif Condensed", serif;
$font-expanded: "Dollop Serif Expanded", serif;

//Others
$header-height-desktop: 58px;
$header-height-mobile: 63px;
